.auth-layout-backdrop {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #cfccc4;
  padding: 2rem;
}

.auth-modal-box {
  display: flex;
  width: 100%;
  max-width: 1500px;
  min-height: 550px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
  position: relative;
  overflow: hidden;
}

.close-modal-btn {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  color: #845736;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 100;
  transition: color 0.3s ease;
}

.close-modal-btn:hover {
  color: #845736;
}
.auth-layout-left {
  flex: 1;
  background-color: #845736;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.auth-layout-logo {
  max-width: 55%;
  z-index: 10;
}

.auth-layout-right {
  flex: 1.2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  background-color: #e1d1b8;
  position: relative;
  overflow: hidden;
}

.auth-layout-right::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../assets/hojaArrugada.jpg");
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  opacity: 0.13;
  z-index: 0;
  pointer-events: none;
}

.auth-form-wrapper {
  width: 100%;
  max-width: 380px;
  position: relative;
  z-index: 1;
}